@media print {

  /* ---- page layouts start ---- */

  body.article {
    height: auto;
    padding-bottom: 0;
    padding-top: 0;
  }

  header {
    height: auto;
  }

  .body {
    height: auto;
    padding: 0;
  }

  main {
    height: auto;
    margin: 0;
    padding: 0;
  }

  article.doc {
    margin-top: 0;
  }

  @page {
    font-size: 11pt;
    margin-bottom: 2cm;
    margin-top: 2cm;
    size: us-letter;
  }

  @page body {
    border-bottom: thin black solid;
  }

  @page body:left {
    @bottom-left {
      content: "Page "counter(page);
      font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
      vertical-align: middle;
    }

    @bottom-right {
      content: "GALT Inc";
      font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
      vertical-align: middle;
    }
  }

  @page body:right {
    @bottom-right {
      content: "Page " counter(page);
      font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
      vertical-align: middle;
    }

    @bottom-left {
      content: "Prospector User Guide";
      vertical-align: middle;
      font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    }
  }

  @page body:blank {
    @bottom-left {
      content: normal;
    }

    @bottom-right {
      content: normal;
    }
  }

  .doc > h1::before {
    content: "Chapter "counter(chapter) ": ";
  }

  div.body h2 {
    string-set: section content();
    counter-increment: section;
  }

  div.body h2::before {
    content: counter(chapter) "."counter(section) " ";
  }

  /* ---- page layouts end ---- */

  .hide-for-print { display: none !important; }

  html {
    font-size: 0.9375em;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  }

  article {
    padding: 0;
  }

  .doc > h1.page:first-child {
    font-size: 30pt;
    margin-top: 0;
    position: relative;
    bottom: 20pt;
  }

  /* Sets the topic heading size */

  a {
    color: inherit !important;
    text-decoration: underline;
  }

  a.bare,
  a[href^="#"],
  a[href^="mailto:"] {
    text-decoration: none;
  }

  #topbar-nav,
  .nav-container,
  .toolbar,
  .navbar,
  .navbar-item,
  header,
  footer {
    display: none;
  }

  div.body {
    page: body;
  }

  .doc {
    color: inherit;
    margin: auto;
    max-width: none;
    padding-bottom: 2rem;
  }

  .doc .listingblock code[data-lang]::before { display: block; }

  img,
  object,
  svg,
  tr {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  pre {
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    white-space: pre-wrap;
  }

  /* ---- TOC PRINT STYLES FOR PRINCEXML ---- */

  #toc {
    display: block;
    margin-top: 0;
  }

  #toc ul {
    margin-left: 0;
    line-height: 20pt;
    list-style-type: none;
    padding-left: 0;
  }

  #toc ul li a {
    font-weight: normal;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #toc ul li ul li a {
    font-weight: normal;
    margin-left: 20pt;
    padding-left: 0;
    padding-right: 0;
  }

  #toc ul li a[href]::after { content: leader(".") target-counter(attr(href), page); }

  /* ---- PAGINATION STYLES FOR PRINCEXML ---- */
  h2 { page-break-before: always; }

  .cover-image img {
    display: block;
    margin: 2in auto 0 auto;
    width: 5in;
  }

  .imageblock .content {
    display: block;
    margin: 0 auto;
  }

  #blue-stripe {
    background-color: #104b87;
    display: block;
    height: 1in;
    width: 100%;
    z-index: 10;
  }

  #blue-stripe h2 {
    page-break-before: avoid;
    z-index: 99;
  }
}
/* This is the closing bracket for media print styles */

/* Showing this removes the generated footer text from the first page of the topic
  @page body:first {
    margin-top: 10%;
    @bottom-left { content: normal; }
    @bottom-right { content: normal; }
    border: none;
  }
*/

/* ---- element visibility helper styles ---- */
/*
body.article {border: 1px solid red; padding-top: 0; padding-bottom: 0; height: auto;}
header {border: 1px dashed lightgreen; height: auto;}
.body {border: 1px dashed magenta; height: auto; padding: 0;}
main {border: 1px solid lime; height: auto; padding: 0; margin: 0;}
.toolbar {border: 1px solid purple;}
article.doc {border: 1px dotted green; }
*/

/* PRINCE RULES THAT NEED TO BE TURNED ON IN THE OUTPUT FOLDER CSS BECAUSE ANTORA LINT DOESN'T ALLOW THEM */
/* This rule adds an empty element forcing an additional page to appear before each topic */

/*
  div.body h1 {
    break-before: right;
    prince-page-group: start;
    string-set: chapter content();
    counter-increment: chapter;
    counter-reset: section;
  }

    @page {
    margin-inside: 3cm;
    margin-outside: 2cm;
  }

    @page body:left {
    @top-left {
      content: "Chapter " counter(chapter) ": " string(chapter);
      font-family: Segoe UI, Candara, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif
    }
  }

    @page body:right {
    @top-right {
      content: "Chapter " counter(chapter) ": " string(chapter);
      font-family: Segoe UI, Candara, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif
    }
  }

*/
/* END PRINCE RULES THAT NEED TO BE TURNED ON IN THE OUTPUT FOLDER CSS */
