/*  ---- PRINT MEDIA STYLES ---- */
@media print {

  /* ---- element visibility helper styles ---- */
  /*
body.article {border: 1px solid red; padding-top: 0; padding-bottom: 0; height: auto;}
header {border: 1px dashed lightgreen; height: auto;}
.body {border: 1px dashed magenta; height: auto; padding: 0;}
main {border: 1px solid lime; height: auto; padding: 0; margin: 0;}
.toolbar {border: 1px solid purple;}
article.doc {border: 1px dotted green; }
*/

  /* PRINCE RULES THAT NEED TO BE TURNED ON IN THE OUTPUT FOLDER CSS */
  /* This rule adds an empty element forcing an additional page to appear before each topic */
  /*
  div.body h1 {
    break-before: right;
    prince-page-group: start;
    string-set: chapter content();
    counter-increment: chapter;
    counter-reset: section;
  }

    @page {
    margin-inside: 3cm;
    margin-outside: 2cm;
  }

    @page body:left {
    @top-left {
      content: "Chapter " counter(chapter) ": " string(chapter);
      font-family: Segoe UI, Candara, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif
    }
  }

    @page body:right {
    @top-right {
      content: "Chapter " counter(chapter) ": " string(chapter);
      font-family: Segoe UI, Candara, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif
    }
  }

  */
  /* END PRINCE RULES THAT NEED TO BE TURNED ON IN THE OUTPUT FOLDER CSS */

  /* ---- page layouts start ---- */

  body.article {
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
  }

  header {
    height: auto;
  }

  .body {
    height: auto;
    padding: 0;
  }

  main {
    height: auto;
    padding: 0;
    margin: 0;
  }

  article.doc {
    margin-top: 0;
  }

  @page {
    font-size: 11pt;
    size: us-letter;
    margin-top: 2cm;
    margin-bottom: 2cm;
  }

  @page body {
    border-bottom: thin black solid;
  }

  @page body:left {
    @bottom-left {
      content: "Page "counter(page);
      vertical-align: middle;
      font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    }

    @bottom-right {
      content: "GALT Inc";
      vertical-align: middle;
      font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    }
  }

  @page body:right {
    @bottom-right {
      content: "Page " counter(page);
      vertical-align: middle;
      font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    }

    @bottom-left {
      content: "Prospector User Guide";
      vertical-align: middle;
      font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    }
  }

  /* Showing this removes the generated footer text from the first page of the topic
@page body:first {
    margin-top: 10%;
    @bottom-left { content: normal; }
    @bottom-right { content: normal; }
    border: none;
}

*/
  @page body:blank {
    @bottom-left {
      content: normal;
    }

    @bottom-right {
      content: normal;
    }
  }

  .doc > h1::before {
    content: "Chapter "counter(chapter) ": ";
  }

  div.body h2 {
    string-set: section content();
    counter-increment: section;
  }

  div.body h2::before {
    content: counter(chapter) "."counter(section) " ";
  }

  /* Splits the cover page into a front and back with colophon.adoc on the back along with the div in cover.adoc */
  #cover-legal { break-before: page; }

  /* ---- page layouts end ---- */

  .hide-for-print { display: none !important; }

  html {
    font-size: 0.9375em;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  }

  article {
    padding: 0;
  }

  .doc > h1.page:first-child {
    font-size: 30pt;
    margin-top: 0;
    position: relative;
    bottom: 20pt;
  }

  /* Sets the topic heading size */

  a {
    color: inherit !important;
    text-decoration: underline;
  }

  a.bare,
  a[href^="#"],
  a[href^="mailto:"] {
    text-decoration: none;
  }

  #topbar-nav,
  .nav-container,
  .toolbar,
  .navbar,
  .navbar-item,
  header,
  footer {
    display: none;
  }

  div.body {
    page: body;
  }

  .doc {
    color: inherit;
    margin: auto;
    max-width: none;
    padding-bottom: 2rem;
  }

  .doc .listingblock code[data-lang]::before { display: block; }

  img,
  object,
  svg,
  tr {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  pre {
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    white-space: pre-wrap;
  }

  /* ---- TOC PRINT STYLES FOR PRINCEXML ---- */

  #toc {
    display: block;
    margin-top: 0;
  }

  #toc ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    line-height: 20pt;
  }

  #toc ul li a {
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    font-weight: normal;
  }

  #toc ul li ul li a {
    padding-left: 0;
    margin-left: 20pt;
    padding-right: 0;
    font-weight: normal;
  }

  #toc ul li a[href]::after { content: leader(".") target-counter(attr(href), page); }

  /* ---- PAGINATION STYLES FOR PRINCEXML ---- */
  h2 { page-break-before: always; }

  .cover-image img {
    margin: 2in auto 0 auto;
    width: 5in;
    display: block;
  }

  .imageblock .content {
    margin: 0 auto;
    display: block;
  }

  #blue-stripe {
    height: 1in;
    width: 100%;
    background-color: #104b87;
    display: block;
  }

  /* ---- END PRINT STYLES ---- */
} /* This is the closing bracket for media print styles */
