<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle="Untitled"}}
  </head>
  <body onload="highlight();" class="article" onload="if (document.getElementById('zoom_searchbox')) {document.getElementById('zoom_searchbox').focus();}">
{{> header}}
{{> body}}
{{> footer}}
  </body>
  <script type="text/javascript">highlight();</script>
</html>
